{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>{% if to_user.first_name %}{% if to_user.last_name %}{{ to_user.first_name }} {{ to_user.last_name }}{% else %}{{ to_user.first_name }}{% endif %}{% else %}{{ to_user }}{% endif %}</h2>
    </header>
    <section>
        <ul>
            {% if to_user.first_name %}
            <li>
                <h3>First Name</h3>
            </li>
            <ul>
                <li>
                    <div>{{ to_user.first_name }}</div>
                </li>
            </ul>
            {% endif %}

            {% if to_user.last_name %}
            <li>
                <h3>Last Name</h3>
            </li>
            <ul>
                <li>
                    <div>{{ to_user.last_name }}</div>
                </li>
            </ul>
            {% endif %}

            {% if to_user.email %}
            <li>
                <h3>Email Address</h3>
            </li>
            <ul>
                <li>
                    <div>{{ to_user.email }}</div>
                </li>
            </ul>
            {% endif %}
        </ul>
        <form method="post" action="">
            {% csrf_token %}
            
            <div class="flex one two-600">
                <div>
                    <button class="success" style="width:100%;" type="submit">Send Connection Request</a>
                </div>
                <div>
                    <a href="{% url 'main:view_connections' %}" class="button error" style="width:100%;">Return to My Connections</a>
                </div>
            </div>
        </form>
    </section>
</article>

{% endblock %}