{% extends "main/base.html" %} 
{% load staticfiles %}
{% block base_content %}

<div class="flex two three-500">
    <div style="padding: 6px;">
        <article class="card">
            <a href="{% url 'main:list_gifts' user.id %}"><img src="{% static 'imgs/list.png' %}" style="max-width:100%;"/></a>
            <footer>
                <h3>My List</h3>
            </footer>
        </article>
    </div>

    <div style="padding: 6px;">
        <article class="card">
            <a href="{% url 'main:list_claims' %}"><img src="{% static 'imgs/stamper.png' %}" style="max-width:100%;"/></a>
            <footer>
                <h3>My Claims</h3>
            </footer>
        </article>
    </div>

    <div style="padding: 6px;">
        <article class="card">
            <a href="{% url 'main:view_connections' %}"><img src="{% static 'imgs/group.png' %}" style="max-width:100%;"/></a>
            <footer>
                <h3>Other People</h3>
            </footer>
        </article>
    </div>
</div>
{% endblock %}