{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>
            {% if owner == user  %}My Gift Wishlist{% else %}{% if owner.first_name %}{% if owner.last_name %}{{ owner.first_name }} {{ owner.last_name }}{% else %}{{ owner.first_name }}{% endif %}{% else %}{{ owner }}{% endif %}'s Gift Wishlist{% endif %}</h2>
    </header>
    <section>
        <ul>
            {% for gift in gifts %}
            <li>
                <a href="{% url 'main:view_gift' gift.id %}">[{{ gift.get_priority_display }}] {{ gift }}</a>
            </li>
            {% endfor %}
            {% if not gifts %}
            List is currently empty.{% if owner == user %} Add to the list using the button below!{% endif %}
            {% endif %}
        </ul>
        <div class="flex one">
            {% if owner == user  %}
            <div>
                <a href="{% url 'main:new_gift' %}" class="button" style="width:100%;">Add Gift</a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'main:view_connections' %}" class="button" style="width:100%;">Return to My Connections</a>
            </div>
            {% endif %}
        </div>
    </section>
</article>
{% endblock %}