{% extends "main/base.html" %} 
{% block base_content %}
<header>
    <h2>Logged out successfully</h2>
</header>
<section>
    <a class="button pseudo" href="{% url 'main:login' %}"" style="width:100%">Return to Login</a>
</section>
<script>
    window.location = "{% url 'main:login' %}"
</script>
{% endblock %}