{% extends "main/base.html" %} 
{% load staticfiles %}
{% block base_content %}

<div class="flex one">
    <div style="padding: 6px;">
        {% if pending_connections %}
        <article class="card">
            <header>
                Pending Connections
            </header>
            <section>
                <ul>
                    {% for connection_request in pending_connections %}
                    <li>
                        <a href="{% url 'main:pending_connection' connection_request.id %}">{% if connection_request.from_user.first_name %}{% if connection_request.from_user.last_name %}{{ connection_request.from_user.first_name }} {{ connection_request.from_user.last_name }}{% else %}{{ connection_request.from_user.first_name }}{% endif %}{% else %}{{ connection_request.from_user }}{% endif %}</a>
                        
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </article>
        {% endif %}

        <article class="card">
            <header>
                My Connections
            </header>
            <section>
                <ul>
                    {% for user in users %}
                    <li>
                        <a href="{% url 'main:list_gifts' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </article>
    </div>
</div>
{% endblock %}