{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>{{ claim.gift.name }}</h2>
    </header>
    <section>
        <ul>
            {% if claim.gift.priority %}
            <li>
                <h3>Priority</h3>
            </li>
            <ul>
                <li>
                    <div class="priority_{{ claim.gift.priority }}">{{ claim.gift.get_priority_display }}</div>
                </li>
            </ul>
            {% endif %}

            {% if claim.gift.link %}
            <li>
                <h3>Link</h3>
            </li>
            <ul>
                <li>
                    <a href="{{ claim.gift.link }}">{{ claim.gift.link }}</a>
                </li>
            </ul>
            {% endif %}

            {% if claim.gift.description %}
            <li>
                <h3>Description</h3>
            </li>
            <ul>
                <li>
                    {{ claim.gift.description }}
                </li>
            </ul>
            {% endif %}
        </ul>
        <div class="flex one two-600">
            <form method="POST" action="">
                {% csrf_token %}
                <div>
                    <input type = "hidden" name="action" value="finalize"/>
                    <input class="button success" style="width:100%;" type="submit" value="Finalize Claim" />
                </div>
            </form>
            <form method="POST" action="">
                {% csrf_token %}
                <div>
                    <input type = "hidden" name="action" value="release"/>
                    <input class="button error" style="width:100%;" type="submit" value="Release Claim" />
                </div>
            </form>
        </div>
        <div class="flex one">
            <div>
                <a href="{% url 'main:list_claims' %}" class="button" style="width:100%;">Return to Claims</a>
            </div>
        </div>
    </section>
</article>

{% endblock %}